:root {
    --shadow-0: 2px 2px 10px 0px;
    --shadow-25: 2px -2px 10px 0px;
    --shadow-50: -2px -2px 10px 0px;
    --shadow-75: -2px 2px 10px 0px;
    --shadow-100: 2px 2px 10px 0px;
    /*
        TODO: Add variables to adjust height and width of container
        TODO: Add variables to adjust height and width of balls
        TODO: Do variable calculation for animation offsets
        TODO: Incorporate calculation for padding / margins
    */
}
.container {
    position: relative;
    height: 200px;
    width: 200px;
    background-color: #e2d89d67;
    animation-name: container-rotate;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    box-shadow: var(--shadow-0, 2px 2px 10px 0px);
}
.ball {
    position: absolute;
    top: 0px;
    left: 75px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    animation-name: ball-rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    box-shadow: var(--shadow-0, 2px 2px 10px 0px);
}
.red {
    background-color: red;
    animation-delay: 1s;
}
.green {
    background-color: green;
    animation-delay: 2s;
}
.blue {
    background-color: blue;
    animation-delay: 3s;
}
@keyframes ball-rotate {
    0% {
        top: 0px;
        left: 75px;
        box-shadow: var(--shadow-0, 2px 2px 10px 0px);
    }
    25% {
        top: 75px;
        left: 0px;
        box-shadow: var(--shadow-25, 2px -2px 10px 0px);
    }
    50% {
        top: 150px;
        left: 75px;
        box-shadow: var(--shadow-50, -2px -2px 10px 0px);
    }
    75% {
        top: 75px;
        left: 150px;
        box-shadow: var(--shadow-75, -2px 2px 10px 0px);
    }
    100% {
        top: 0px;
        left: 75px;
        box-shadow: var(--shadow-100, 2px 2px 10px 0px);
    }
}
@keyframes container-rotate {
    0% {
        top: 0px;
        left: 350px;
        transform: rotate(0deg);
        box-shadow: var(--shadow-0, 2px 2px 10px 0px);
    }
    25% {
        top: 350px;
        left: 0px;
        transform: rotate(90deg);
        box-shadow: var(--shadow-25, 2px -2px 10px 0px);
    }
    50% {
        top: 600px;
        left: 350px;
        transform: rotate(180deg);
        box-shadow: var(--shadow-50, -2px -2px 10px 0px);
    }
    75% {
        top: 350px;
        left: 600px;
        transform: rotate(270deg);
        box-shadow: var(--shadow-75, -2px 2px 10px 0px);
    }
    100% {
        top: 0px;
        left: 350px;
        transform: rotate(360deg);
        box-shadow: var(--shadow-100, 2px 2px 10px 0px);
    }
}